/* elements */
/* reset, override and/or increment some tag styles */
input {
  width: 100%;
  min-height: 40px;
}

input[type="checkbox"],
input[type="radio"],
input[type="date"],
input[type="time"],
input[type="submit"] {
  width: initial;
  min-height: initial;
  margin: 0
}

label, .label {
  display: inline-block;
  margin-bottom: 4px
}


/* basic classes */
/* reset, override and/or increment default classes */
.form-text, .form-tel, .form-email, .form-url, .form-search, .form-file, .form-number, .form-color, .form-textarea {
  font-size: 1rem;
  min-height: 40px;
  padding: 8px 12px;
  margin: 0;
}

.form-text:focus, .form-tel:focus, .form-email:focus, .form-url:focus, .form-search:focus, .form-file:focus, .form-number:focus, .form-color:focus, .form-textarea:focus {
  border-color: #aaa;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.form-actions {
  display: flex;
  align-items: center
}

.form-item { margin-bottom: 1em }

.form-item.form-type-radio, .form-item.form-type-checkbox { margin: 8px 0; }


.form-type-radio label, .form-type-checkbox label { margin-bottom: 0 }

.form-item.form-type-radio label, .form-item.form-type-checkbox label { font-size: initial }

.form-textarea-wrapper textarea { padding: 8px 12px }

.description { margin-top: 6px }


/* especific classes */
.entity-reference-crud-display-form .field--widget-datetime-timestamp {
  margin-top: 1em;
  margin-bottom: 1em
}

.entity-reference-crud-display-form .form-actions .use-ajax {
  margin-left: auto;
  margin-right: 0
}

.entity-reference-crud-display-form .form-item-status-value { margin: 1.5em 0 0; }

.js input.form-autocomplete,
.js input.form-autocomplete.ui-autocomplete-loading { background-position: 99% center }
.js[dir="rtl"] input.form-autocomplete,
.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading { background-position: 1% center }


/* block */
/* unit item class for blocks */
.field--type-entity-reference {
  position: relative;
  margin-bottom: 32px;
}

.field--label-above.field--type-entity-reference::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;
  position: absolute;
  top: 12px;
  left: 0;
}

.entity-reference-crud-item {
  position: relative;
  padding: 12px;
  border: 1px solid #eee;
  margin-top: 12px;
}

.field--type-entity-reference > div.field__label {
  position: relative;
  display: inline-block;
  color: #4a4a4f;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  padding-right: 8px;
  background-color: #fff;
}

.field--type-entity-reference__new {
  display: block;
  color: #fff;
  font-weight: bold;
  width: 24px;
  height: 24px;
  border-bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}
.field--type-entity-reference__new:hover,
.field--type-entity-reference__new:focus { color: #fff; }

.entity-reference-crud-item .field:not(.field--name-name) { margin-top: 6px; }

.entity-reference-crud-item .field--name-name > .field__label,
.entity-reference-crud-item .field--name-user-id { display: none; }


.entity-reference-crud-item .field--name-name > .field__item {
  font-weight: bold;
  font-size: 18px;
  color: #737373;
}

.entity-reference-crud-item .edit-button,
.entity-reference-crud-item .delete-button {
  min-width: 55px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 3px 12px;
  border: 0;
  background: #eee;
  position: absolute;
  top: 0;
}

.entity-reference-crud-item .edit-button { right: 83px; }
.entity-reference-crud-item .delete-button { right: 0; }

.field--type-entity-reference__new::before {
  content: '+';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #737373;
}
.field--type-entity-reference__new:hover::before { background-color: #4a4a4f; }
